/* Estilos generales */

:root{
    --main-color: rgb(33, 33, 88);
    --secondary-color: rgb(230, 230, 243);
}

body{
    display: flex;
    flex-direction: column;
}

header,
footer{
    background-color: var(--main-color);
    color: white;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
}

/* Estilos de la cabecera: */
header{
    margin: 0 auto;
    width: 80vw;
}

#logo img{
    width: 20px;
}

/* Estilos generales del cuerpo: */
main{
    margin: 0 auto;
    width: 80vw;
    border: 3px solid var(--main-color);
    box-sizing: border-box;
}

/* Estilos de la barra de navegación: */
nav ul {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav li {
    display: inline;
    background-color: var(--main-color);
    color: white;
    padding: 6px 50px;
    box-sizing: border-box;
    cursor: pointer;
}

/* Estilos del contenido: */
#calculadora{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid var(--main-color);
    box-sizing: border-box;
    width: 30vw;
}

#calculadora > div{
    border: 2px solid var(--main-color);
    min-height: 3.3rem;
    margin-top: 1rem;
}

#calculadora > .resultados{
    cursor: none;
    background-color: var(--secondary-color);
    text-align: right;
    padding-right: 1em;
}

#botonera{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    text-align: center;
    padding: 2rem;
}

#botonera > .boton{
    border: 1px solid var(--main-color);
    background: #ffffff;
    padding: 0.7em;
}

#botonera > .boton:hover{
    border: 1px solid var(--secondary-color);
    background-color: var(--main-color);
    color: #ffffff;
    cursor: pointer;
}

/* Estilos del pie de página: */
footer{
    margin: 0 auto;
    width: 80vw;
    padding: 10px;
    box-sizing: border-box;
}